services:
  dashboard:
    build:
      context: .
      dockerfile: docker/Dockerfile.dashboard

    container_name: ai_job_dashboard

    ports:
      - "8501:8501"

    volumes:
      - ./output:/app/output

    environment:
      APP_ENV: prod
      TOP_N_RESULTS: 20
      DASHBOARD_REFRESH_SECONDS: 300

    restart: unless-stopped
